<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>849748412924-c72bd9qrdkbmc039is3sof31himcm5fp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.849748412924-c72bd9qrdkbmc039is3sof31himcm5fp</string>
	<key>API_KEY</key>
	<string>AIzaSyDrrrSWXwofS6Ux7uA1t4U9XbBOzVUv2Q4</string>
	<key>GCM_SENDER_ID</key>
	<string>849748412924</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Sega.Messager</string>
	<key>PROJECT_ID</key>
	<string>messenger-949c7</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-949c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:849748412924:ios:55f1d47bdf58dc292d0a79</string>
</dict>
</plist>